body{
    overflow: hidden;
}

.alert{
    background: #ffdb9b ;
    padding: 15px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 52px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%)
    }
    40%{
        transform: translateX(-10%)
    }
    80%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-10px)
    }
}

.alert.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px)
    }
    40%{
        transform: translateX(0%)
    }
    80%{
        transform: translateX(-10%)
    }
    100%{
        transform: translateX(100%)
    }
}

.alert .bi-exclamation-triangle-fill{
    position: absolute;
    left: 60px;
    top: 10%;
    transform: translate(-50px);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 1%;
    transform: translateY(-1%);
    background: #ffd080;
    padding: 11px 18px;
    cursor: pointer;
}

.close-btn:hover{
    background: #ffc766;
}

.close-btn .bi-x-lg{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

