.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 225px;
    border-radius: 8px;
    box-shadow: -1rem 0px 12px -5px rgba(0, 0, 0,0.8);
    padding: 5px;
    cursor: pointer;
    transition: .2s;
}

.bg-card-cdc{
    background: #0AB68B;
}

.bg-card-lkb{
    background: #1379ec;
}

.card img{
    margin-bottom: 5px;
    width: 150px;
    height: 150px;
}

.card h4{
    font-weight: bold;
    color: #fff;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
}

.card:hover h4{
    background: linear-gradient(90deg, #ebe706, #ff0116);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .2s ease;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
    /* transform: translateX(130px); */
    transform: translateX(60px);
}

.card:hover {
    transform: translateY(-1rem);
    /* transform: translateX(-1rem) rotate(2deg); */
}

.card:first-child{
    box-shadow: -1rem 0 2rem rgb(253, 252, 252);
}

.card:not(:first-child){
    /* margin-left: -130px; */
    margin-left: -70px;
}

.card p:first-child{
    font-size: 16px;
    margin:6px;
    color: #fff;
}


